@import "normalize.css"
@import "./variables.styl"

opacity(n)
  opacity n
  if support-for-ie
    filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

html
body
  @extend .edenfont
  width 100%
  height 100%
  background-color bg-color
  overflow hidden

ul
  list-style none
  padding 0
  margin 0

a
a:hover
a:focus
  cursor pointer
  text-decoration none


.el-card.is-always-shadow, 
.el-card.is-hover-shadow:focus,
.el-card.is-hover-shadow:hover
  box-shadow 0 1px 6px rgba(0,0,0,.2) !important

.widget-card
  background white
  height 100%
  width 100%
  overflow hidden
  border-radius 4px
  transition box-shadow .4s
  &:hover
    box-shadow 0 1px 6px rgba(0,0,0,.2)

.deleteline
  .el-checkbox__label
    text-decoration line-through

#app
  height 100%
  min-width 1024px
  -webkit-font-smoothing antialiased

  .eden-card
    background eden-card-bg
    padding 20px
    box-sizing border-box
    @extend .widget-card

  // sidebar
  .sidebar-wrap
  .el-submenu__icon-arrow
    color white

  .el-submenu
    .el-menu-item
      background-color submenu-bg !important
      &:hover
        background-color menu-hover !important

  // sidebar scroll
  .sidebar-container
    height 100%
    z-index 1005
    .scrollbar-wrapper
      height 'calc(%s + %s)' % (100% 5px)
      .el-scrollbar__view
        height 100%
      .el-scrollbar__wrap
        overflow-x hidden
    .el-menu
      @extend .edenfont-content
      border none
      height 100%
      width 100% !important
    .el-menu--collapse
      .el-submenu__icon-arrow
        display none

.el-notification__content p
  text-align left

// nprogress style
#nprogress 
  .bar 
    background main-color !important
  .peg
    box-shadow 0 0 10px main-color, 0 0 5px main-color !important
  .spinner-icon
    border-top-color main-color !important
    border-left-color main-color !important

// scrollbar
::-webkit-scrollbar
  width 6px
  height 6px
::-webkit-scrollbar-track
  background 0 0
::-webkit-scrollbar-thumb
  background-color scrollbar-thumb-bg
  border-radius 5px
::-webkit-scrollbar-thumb:hover 
  background-color scrollbar-thumb-hover-bg
::-webkit-scrollbar-corner
  background-color scrollbar-corner-bg
::-webkit-scrollbar-resizer
  background-color scrollbar-resizer-bg
body::-webkit-scrollbar 
  width 8px
body::-webkit-scrollbar-thumb 
  background-color body-scrollbar-thumb-bg