bg-color = #f1f2f7
tags-bar-color = #f1f2f7
main-color = #41b883
sub-color = #2e5273
submenu-bg = #374b63
menu-hover = #1f2d3d
eden-card-bg = #fff

el-aside-bg = #556d84
el-aside-color = #fff

tag-border = #e9eaec
tag-color = #4c4c4c
tag-close = #659c84
tag-active-bg = #32b177
tag-active-color = #fff

scrollbar-thumb-bg = #ccc
scrollbar-thumb-hover-bg = #666
scrollbar-corner-bg = #535353
scrollbar-resizer-bg = #FF6E00
body-scrollbar-thumb-bg = #ddd

flex-center = @block {
  display flex
  align-items center
  justify-content flex-end
}

.edenfont
  font-family 'Avenir', "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif
.edenfont-content
  font-family "PingFang SC", "Helvetica Neue", Helvetica, "Microsoft YaHei", "微软雅黑", Arial, sans-serif !important
